.reservations .bs-example {
  margin-left: 20%;
  margin-right: 5%;
  margin-top: 5%;
  /* overflow: hidden; */
  overflow: hidden;
  position: absolute;
}

.reservations .body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.reservations .table {
  width: 100%;
  table-layout: fixed;
}

.reservations .table caption {
  font-size: 1.5em;
  /* margin: .5em 0 .75em; */
}

.reservations .table tr {
  background-color: #ebe8e6;
}

.reservations .table th,
.reservations .table td {
  color: rgb(55, 107, 89);
  padding: 0.625em;
  text-align: center;
  border: 1px solid #070606;
}

.reservations .table th {
  color: rgb(55, 107, 89);
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #070606;
}

.reservations .table th,
.reservations .table td {
  border: 1px solid #070606;
}

.reservations .table th {
  color: rgb(0, 0, 0);
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* .table tr:nth-child(2n+1) {   background-color: rgb(206, 49, 49); }  */

@media screen and (max-width: 750px) {
  .reservations .bs-example {
    display: flex;
    opacity: 1;
  }
  .reservations .bs-example h1 {
    color:rgb(55, 107, 89);
    font-style: bold	;
    font-family: Jazz LET, fantasy;
    text-align: center;
    display: block;
    position: relative;
    opacity: 0.2;

    }
  .reservations .table {
    border: 0;
    overflow: hidden;
    display: flex;
  }
  .reservations .reservationImage {
    display: flex;
    overflow: hidden;
    float: right;

    opacity: 0;
  }

  .table caption {
    font-size: 1.3em;
  }

  .reservations .table thead {
    border: black;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: relative;
    width: 1px;
  }

  .table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .table td {
    display: block;
    font-size: 0.8em;
    text-align: right;

    padding: 5px;
    background-color: #f6f6f6;
  }
  /* .table tr:nth-child(2n+1) {   background-color: rgb(206, 49, 49); }  */
  .table td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}
