
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$sidebar-bg-color: #1d1d1d;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

// @import '../node_modules/react-pro-sidebar/dist/scss/styles.scss';
// body {
//   margin: 0;
//   height: 100vh;
//   color: #353535;
//   font-family: 'Roboto', sans-serif;
// }

#root {
  height: 100%;
}

.app {
  height: 100%;
  // display: flex;
  position: fixed;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.32);
    display: none;
  }

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }
  aside {
    height: 100%;
    .sidebar-btn-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .sidebar-btn {
        padding: 1px 15px;
        border-radius: 40px;
        background: rgba(255, 255, 255, 0.05);
        color: #adadad;
        text-decoration: none;
        margin: 0 auto;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          margin-left: 5px;
          font-size: 13px;
        }
        &:hover {
          color: $highlight-color;
        }
      }
    }

    .collapsed {
      .sidebar-btn {
        display: inline-block;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 40px;
        padding: 0;
      }
    }
  }
  main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;
      h1 {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
      }
    }

    footer {
      margin-top: auto;
      color: #888;
      text-align: center;
      a {
        text-decoration: none;
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  &.rtl {
    flex-direction: row-reverse;
    text-align: right;

    header {
      h1 {
        flex-direction: row-reverse;
        transform: translateX(20px);
      }
    }
    .block {
      flex-direction: row-reverse;
      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .sidebar-btn-wrapper {
      .sidebar-btn {
        flex-direction: row-reverse;
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
    .btn-toggle {
      display: flex;
    }
    aside {
      position: fixed;
      z-index: 1111;
      left: -270px;
      transition: left 0.3s;
    }
    &.toggled {
      .overlay {
        display: block;
      }
      aside {
        left: 0;
      }
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
      aside {
        left: auto;
        right: -270px;
        transition: right 0.3s;
      }
      &.toggled {
        aside {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}