.forgotPassword {
    top: 50%;
    left: 50%;
    width: 40%;
    height: auto;
    position: absolute;
    flex:right;
    text-align: center;
    border-radius: 1.5em;
    background-position: center;
    background-size: 100% 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 10%;
}

.forgotPassword img {
    margin-top: 15%;
}

.forgotPassword .form-control {
    width: 50%;
    height: 50px;
    margin: 5% 25%;
    border-radius: 1em;
}

.forgotPassword .alert {
    font-size: 1.7vh;
}

.forgotPassword .alert button {
    font-size: 2.7vh;
}

.sendResetPasswordEmailBtn {
    width: 30%;
    padding: 2% 0;
    margin: 5% 0;
    font-size: 2.2vh;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.3em;
    border: 1.5px solid #2a8164;
    background: linear-gradient(to bottom, #193026, #193026);
}

@media only screen and (max-width: 1200px) {
    .forgotPassword {
        width: fit-content;
    }

    .forgotPassword img {
        width: 70%;
        height: 7%;
        margin-top: 3%;
    }

    .forgotPassword h2 {
        font-size: 4vh;
    }

    .forgotPassword p {
        margin: 5%;
    }

    .forgotPassword .form-control {
        width: 70%;
        margin: 5% auto;
    }

    .sendResetPasswordEmailBtn {
        width: 50%;
        margin-bottom: 3%;
    }
}

