.create_announcement {
    margin-left: 30%;
    margin-right: 10%;
    /* margin-top: 10%;
    position: absolute;
    flex:right */

}
.create_announcement_body {
  margin-left: 30%;
  margin-right: 10%;
  margin-top: 5%;
  position: absolute;
  flex:right

}
.create_announcement .img {
    margin-right: 10%;
}
.create_announcement h3 {
    font-style: bold	;
    font-family: Jazz LET, fantasy;
    text-align: center;
}
.title {
    background:rgb(209, 202, 202);
    border-radius: 10px;
    border: 3px solid #850935;
}
.create_announcement h5 {
    font-style: italic	;
    font-family:  monospace;
    text-align: center;
    color: rgb(73, 5, 51);
}
.date_pickers{
    margin-left: 15%;
    margin-right: 10%;
}
.button {
    border-radius: 4px;
    background-color: #380528;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin-left: 5%; */
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }