.announcements .bs-example {
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 10%;
    overflow: hidden;
position: relative;
float:right
  }
  .announcements.table table-hover {
    border-spacing:0 15px; 
    border-collapse:separate;
    float: right;; display:block;
    position: relative;

}
.announcements .body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  position: relative;
  }
  
  .table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 15px;
    float:left; display:block;

  }
  
  .table caption {
    font-size: 1.5em;
    /* margin: .5em 0 .75em; */
  }
  
  .bs-example h1 {
    color:rgb(55, 107, 89);
    font-style: bold	;
    font-family: Jazz LET, fantasy;
    text-align: center;
    }
  .table tr {
    background-color: #BFC9CA;
    padding: .35em;
  }
  
  .table th,
  table td {
    color:rgb(55, 107, 89);
    padding: .625em;
    text-align: center;
    padding: 5px;
    padding:0 10px;
  }
  
  .table th {
    background-color:rgb(55, 107, 89);
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* .table tr:nth-child(2n+1) {   background-color: rgb(206, 49, 49); }  */

  @media screen and (max-width: 750px) {
    .table {
      border: 0;
      border-collapse: separate;
      border-spacing: 0 15px;
    }
  
    .table caption {
      font-size: 1.3em;
    }
    
    .table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .table tr {
      display: block;
      margin-bottom: .625em;
    }

    .table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #eeeeea;
}
    
    .table td {
      display: block;
      font-size: .8em;
      text-align: right;
       
                padding:5px;
                background-color:#F6F6F6;
    }
     /* .table tr:nth-child(2n+1) {   background-color: rgb(206, 49, 49); }  */
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .table td:last-child {
      border-bottom: 0;
    }
  }