body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.eli {
  font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 20px;
box-sizing: border-box;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
padding: 8px 14px 8px 14px;
}

.fa fa-exclamation-circle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
color: #a94442;
box-sizing: border-box;
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
font-size: 14px;
}
.fa-exclamation-circle:before {
    content: "\f06a";
}
.errorMsg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 8px 14px 8px 14px;
}
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
.bg-red {
  font-family: 'Chelsea Market', cursive;
}